[Oo]bj/
[Bb]in/
/ClientBin/*
*.xap
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
_Resharper.*
.JustCode/
project.lock.json
*.nuget.props
storage.ide*

# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config