@model IEnumerable<LinqToTwitterMvcDemo.Models.TweetViewModel>
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>LINQ to Twitter</h1>
                <h2>MVC Demo</h2>
            </hgroup>
            <p>
                An example of how you can use LINQ to Twitter with ASP.NET MVC.
            </p>
        </div>
    </section>
}

<ul>
    @foreach (var tweet in Model)
    {
        <li>ScreenName: @tweet.ScreenName, Tweet: @tweet.Tweet</li>
    }
</ul>
