<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Fill in your consumer key and secret here to make the OAuth sample work. -->
    <!-- Twitter sign-up: https://dev.twitter.com/ -->
    <add key="consumerKey" value="hDnnFfU8eQ7PQ06TxQdNA"/>
    <add key="consumerSecret" value="ML1fIlZUuEsMr5BU9Q3zNI3RF6NHWhUCOrFlMr4dLM"/>
    <add key="oauthToken" value="15411837-3wGGrD7CY0Hb0tguLA3pSH7EMwSWWcnuD3DEQ1E27"/>
    <add key="oauthTokenSecret" value="SAAyHEC0osRcZkvrGhzsU9TCMb4klIf9K3abZ294o8"/>
    <add key="accessToken" value="15411837-3wGGrD7CY0Hb0tguLA3pSH7EMwSWWcnuD3DEQ1E27"/>
    <add key="accessTokenSecret" value="SAAyHEC0osRcZkvrGhzsU9TCMb4klIf9K3abZ294o8"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>