<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="0f36f266-ba86-4988-8181-93a7de099ff3" Publisher="CN=Joe" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MetroOAuthDemo</DisplayName>
    <PublisherDisplayName>Joe</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Win8OAuthDemo.App">
      <VisualElements DisplayName="Win8OAuthDemo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Demonstrates how to use WinRtAuthorizer for OAuth with LINQ to Twitter." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>