@{
    ViewBag.Title = "Tweet Demos";
}

<h2>Tweet Demos</h2>

<p>@Html.ActionLink("Tweet Demo", "Tweet")</p>

<p>@Html.ActionLink("Tweet Timeline Demo", "TweetTimeline")</p>

<p>@Html.ActionLink("Upload Image Demo", "UploadImage")</p>