<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.15" targetFramework="winrt45" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="winrt45" />
  <package id="SuiteValue.UI.Metro.Authentications" version="0.0.2-rc" targetFramework="winrt45" />
  <package id="SuiteValue.UI.Metro.TwitterAuthentication" version="0.0.1-rc" targetFramework="winrt45" />
</packages>