<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Fill in your consumer key and secret here to make the OAuth sample work. -->
		<!-- Twitter sign-up: https://twitter.com/oauth_clients -->
		<add key="twitterConsumerKey" value="ONxVX5b14DpiVGlprq1yA" />
		<add key="twitterConsumerSecret" value="5EcaD53IZyf0urTsAJdNENanJJ85gtewlBFF44A4WSw" />
	</appSettings>
</configuration>