<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <!-- Set culture to test localization settings, all ClassInitialize in
         tests should set CurrentCulture and CurrentUICulture with this value
    <add key="culture" value="nn-NO"/>
    -->

    <add key="culture" value=""/>
  </appSettings>
</configuration>