<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Fill in your consumer key and secret here to make the OAuth sample work. -->
    <!-- Twitter sign-up: https://dev.twitter.com/ -->
    <add key="twitterConsumerKey" value=""/>
    <add key="twitterConsumerSecret" value=""/>
    <add key="twitterOAuthToken" value=""/>
    <add key="twitterAccessToken" value=""/>
  </appSettings>
  <!--
    The schemeSettings element, below, with the following characters, doesn't work in .NET 4.5:
    
      "*():'[]"
      
    Therefore, if you find that you're receiving 401 Unauthorized when these characters
    are used, then remove these characters from your queries. 
    
    This applies to LINQ queries, which are HTTP GET requests. There should be any problem 
    with commands, which are method calls, which execute as HTTP Post requests. -->
  <!--
  <uri>
    <schemeSettings>
      <add name="https" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
    </schemeSettings>
  </uri>-->
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
