<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Fill in your consumer key and secret here to make the OAuth sample work. -->
    <!-- Twitter sign-up: https://twitter.com/oauth_clients -->
    <add key="twitterConsumerKey" value="ZGGuB8ZHta5eKpvlZVg" />
    <add key="twitterConsumerSecret" value="L2lL68RkMmajv6IfDHHgTIDTuNPrBK9G0mJmENKAM" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
