<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Fill in your consumer key and secret here to make the OAuth sample work. -->
		<!-- Twitter sign-up: https://twitter.com/oauth_clients -->
		<add key="twitterConsumerKey" value=""/>
		<add key="twitterConsumerSecret" value=""/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
