<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Set culture to test localization settings, all ClassInitialize in
         tests should set CurrentCulture and CurrentUICulture with this value
    <add key="culture" value="nn-NO"/>
    -->

    <add key="culture" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
